extends base

block title
    title Brevard County Real Estate Sales

block content
    main
        section#hero-sales 
            .overlay
            picture.hero-background 
                source(srcset="/img/sales-mobile.jpg" media="(max-width: 43.75em)")
                img.hero-background(src="/img/sales-desktop.jpg", alt="")
            .hero-sales-block
                h1 Your guide for buying or selling
                p Well versed in the Brevard County market, our team will help you through real estate transactions.
                a(href="/#contact").hero-cta get started today
        section#meet-the-team
            .meet-the-team-block 
                <script charset="UTF-8" type="text/javascript" id="idxwidgetsrc-37131" src="//brevardpms.idxbroker.com/idx/quicksearchjs.php?widgetid=37131"></script>
        //-         .agent-cards
        //-             .agent
        //-                 .agent__desc 
        //-                     h4.agent__name Lorrie Lovett
        //-                     p.agent__about As Broker/Owner of BPMS, Lorrie is dedicated to her career and her clients, working efficiently and effectively to accomplish clients real estate goals as needed. With 20 years experience in Residential/Commercial Sales, Multi-family, and Property Management, it allows her to give quality services so her clients can have the best experience.
        //-                 .agent__photo 
        //-                     img.agent__photo(src="img/lorrie.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Lexi Lovett
        //-                     p.agent__about Meet Lexi Lovett, the go-to realtor in Brevard County. With her distinctive pink suit jacket and deep knowledge of the local market, Lexi helps you buy or sell homes with ease. She treats clients like family, making sure your real estate dreams come true. So, whether you're in search of your dream home in Brevard County or looking to sell your property with confidence, Lexi Lovett is the name you can trust.
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/lexi.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Donna Sprague
        //-                     p.agent__about I am focused on giving my client the best possible home buying or selling experience. I believe that to best serve my clients, it is important to treat their real estate needs as if they were my own. I will earn your trust as we work together towards a common goal. I ahev the knowledge, experience and dedication that it takes to get the results you are looking for!
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/donna.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Tony Dubravski
        //-                     p.agent__about I come from a construction background of measuring, designing and installing stair and balcony railings on some of the most beautiful homes, condos and commercial buildings and properties in Florida. Is a home with a view is what you are looking for or want to sell? Please don&apos;t hesitate to contact me. I would love to make all your real estate dreams a reality.
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/tony.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Betty Buddemeyer
        //-                     p.agent__about Originally from Baltimore, Betty started her real estate career in Fort Lauderdale in the early 70s while also working for attorneys. Betty then moved to Rockledge in 1978 where she established roots with Trafford Realty. While keeping her pulse on the real estate market, she worked for local attorneys, then entered the Space Shuttle Program with Rockwell International &#40;now ULA&#41;, and later worked as a Judicial Assistant for a Judge here in Brevard County.  Since 2010, Betty has worked with local home builders as well as buyers and sellers in residential real estate. Betty will work hard to help you sell your home or find the home of your dreams!
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/betty.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Carmen Minthorn
        //-                     p.agent__about I was born and raised in Brevard County. I have served my community as a realtor for over 20 years. I not only serve Brevard County, but many other surrounding counties as well. Some of my greatest qualities are great communication, effective negotiating skills, dedication, integrity and adapting to each and every client's real estate needs. My number one goal for my entire career has been and will always be 100% customer satisfaction and happiness. I look forward to working with you!
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/carman.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Traci Harrell
        //-                     p.agent__about I&#39;m a proud local that grew up in Port St John. Having lived in large cities: New York, Nevada and Utah in my 20s Florida&#39;s Space Coast community has my heart. I love our beaches, watching the launches and being out on the waterways seeing our diverse marine/animal wildlife with my family. I like to support our locals and shop small businesses &#38; eat at our amazing local restaurants. Living here is paradise! Excited to turn my passion for real estate into a profession. Bringing honesty and ease to each step of the purchasing / selling process ensuring your happiness. Whether you are searching for your dream home, wanting an investment or starting a new life chapter, I will help find your perfect match! Dedicated to making your real estate vision become a reality, with Brevard Property Management &#38; Sales!
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/traci.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Steve Keener
        //-                     p.agent__about Steve is originally from Hershey, Pennsylvania and started his Real Estate career with Coldwell Banker in Deltona Florida in 2004 as a sales associate, then transitioned to their Property Manager in 2006. He has over 20 years of experience in the industry as a Broker/Owner and Broker/Associate and has assisted in multiple transactions through the years helping property owners, buyers, and sellers. If you have any questions about the process of selling or buying a home, he would be happy to assist you.
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/steve.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Vanessa Irizarry
        //-                     p.agent__about Vanessa is apart of the BrevardPMS team, bringing satisfaction to our clients!
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/vanessa.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Susan Ellsworth
        //-                     p.agent__about Susan is apart of the BrevardPMS team, bringing satisfaction to our clients!
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/susan.jpg")
        //-             .agent
        //-                 .agent__desc
        //-                     h4.agent__name Scott Sharp
        //-                     p.agent__about Scott is apart of the BrevardPMS team, bringing satisfaction to our clients!
        //-                 .agent__photo
        //-                     img.agent__photo(src="img/scott.jpg")
        section#about-brevard 
            .about-brevard-block 
                .brevard-map
                    .brevard-map__outline
                        img(src="img/brevard.svg", alt="brevard county")
                    //-     button#ksc.brevard-info: svg: use(xlink:href="img/bpms-sprite.svg#info")
                    //-     button#beaches.brevard-info: svg#beaches: use(xlink:href="img/bpms-sprite.svg#info") 
                    //-     button#entertainment.brevard-info: svg: use(xlink:href="img/bpms-sprite.svg#info")  
                .brevard-content
                    h3.brevard-header About brevard county 
                    p.brevard-text Located on the coast of Central Florida, Brevard County is a place where pristine beaches, vibrant communities, and a world of exploration awaits. From awe-inspiring sightings to an endless array of activities, this county offers a blend of natural wonders, cultural treasures, and boundless opportunities.<br><br> Whether you seek thrilling rocket launches, walks on the beach, or the perfect blend of urban amenities and small-town charm, Brevard County has much to offer. If you are moving here, there will be much to discover in Florida&apos;s Space Coast!
                    //- button.reset reset
        section#sale-listings
            .sale-listings-block 
                h3 Our Featured Properties For Sale
                p.property-disclaimer We can still help you find other available properties. Contact us and our team will work to find the right home for you!
                .properties 
                    //- <script charset="UTF-8" type="text/javascript" id="idxwidgetsrc-43335" src="//search.brevardpms.com/idx/customshowcasejs.php?widgetid=43335"></script>
                    .sales-cards-block 
                        for listing in listings 
                            .property-card(class=listing.rntLse)
                                .property-images 
                                    img(src=`${listing.image[0].url}` loading="lazy")
                                .property-card__info 
                                    svg.pin: use(xlink:href="img/bpms-sprite.svg#pin")
                                    p.city= listing.cityName
                                    p.bedrooms= `${listing.bedrooms || "n/a"} bedrooms`
                                    p.bathrooms= `${listing.fullBaths || "n/a"} bathrooms`
                                .property-card__desc
                                    .address-box 
                                        p.address= listing.address 
                                            p.rent= listing.priceData.value.formatted
                                    p.sqft=`${listing.sqFt || "n/a"} SQFT`
                                    p.description= listing.remarksConcat
                                a.apply(href=`${listing.fullDetailsURL}`): span More Info

                        //- .property-card 
                        //-     .property-images 
                        //-         img(src="img/joe-murrell.jpg" loading="lazy")
                        //-     .property-card__info 
                        //-         svg.pin: use(xlink:href="img/bpms-sprite.svg#pin")
                        //-         p.city Titusville
                        //-         p.bedrooms 2 bedrooms
                        //-         p.bathrooms 1.1 bathrooms
                        //-     .property-card__desc
                        //-         .address-box
                        //-             p.address 3426 Joe Murell Drive  
                        //-                 p.rent $99,999
                        //-         p.sqft 1,088 SQFT
                        //-         p.description Investor Alert! Cash only sale. Don't miss your chance to turn this end unit townhouse back to a gem. 2 story 2 bedroom with Jack N Jill baths upstairs and a half bath downstairs. Screened patio with privacy fenced back yard. Ceramic tile flooring throughout ground floor. Roof needs replaced. Seller has never seen or occupied the property. Would make a great winter retreat, or rental property.
                        //-     a.apply(href=`https://my.flexmls.com/SavannahBillow/search/shared_links/9LLpD/listings/20230928141151597796000000`): span More Info
                        //- .property-card 
                        //-     .property-images 
                        //-         img(src="img/3565-sable-palm.jpeg" loading="lazy")
                        //-     .property-card__info 
                        //-         svg.pin: use(xlink:href="img/bpms-sprite.svg#pin")
                        //-         p.city Titusville
                        //-         p.bedrooms 2 bedrooms
                        //-         p.bathrooms 1 bathroom
                        //-     .property-card__desc
                        //-         .address-box
                        //-             p.address 3565 Sable Palm Lane, E  
                        //-                 p.rent $149,900
                        //-         p.sqft 785 SQFT
                        //-         p.description Villas at LaCita renovated 2nd floor condo with fireplace, brand new washer/dryer, and brand-new HVAC system. Galley kitchen has pantry and living room has slider to screened balcony with storage area. Community amenities include inground pool, tennis courts, fitness room, coined laundry, and picnic/BBQ area. Within minutes from watching rocket launches, the Indian River lagoon, shopping, and restaurants.
                        //-     a.apply(href=`https://my.flexmls.com/SavannahBillow/search/shared_links/9CstW/listings/20230726162155820883000000`): span More Info
    script(src='/js/sales.js' defer)
